/* Social Logos */
.twitter {
    color: #1DA1F2;
}

.youtube {
    color: #FF0000;
}

.slack {
    color: #1D1C1D;
}

/* Fonts */
.md-typeset h1 {
    font-family: "Montserrat";
    color: #00ABE8;
}

.md-typeset h2 {
    font-family: "Montserrat";
    color: #063561;
}

.md-typeset h3 {
    font-family: "Montserrat";
}