/* Social Logos */
.twitter {
    color: #1DA1F2;
}

.youtube {
    color: #FF0000;
}

.slack {
    color: #1D1C1D;
}

/* montserrat-alternates-300 - latin */
@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/montserrat-alternates-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-alternates-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-alternates-regular - latin */
  @font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-alternates-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-alternates-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-alternates-500 - latin */
  @font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-alternates-v17-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-alternates-v17-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-alternates-500italic - latin */
  @font-face {
    font-family: 'Montserrat Alternates';
    font-style: italic;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-alternates-v17-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-alternates-v17-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-alternates-700 - latin */
  @font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-alternates-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-alternates-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


/* Fonts */
.md-typeset h1 {
    font-family: "Montserrat Alternates";
    color: #00ABE8;
}

.md-typeset h2 {
    font-family: "Montserrat Alternates";
    color: #063561;
}

.md-typeset h3 {
    font-family: "Montserrat Alternates";
}